#kobe{
  font-family:Helvetica;
  color:black;
  font-size:80px;
  text-align:center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

body{
  background-image: url(1.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
